.container-fluid {
    margin: 50px;
}

.response {
    height: 100px;
    margin-top: 30px;
}

#score-row {
    display: none;
}

.score {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
    margin-right: 25px;
    margin-top: 10px;
}